pybit>=2.0
pandas>=1.3.5
numpy>=1.21.5
python-dotenv>=0.19.2
schedule>=1.1.0
ccxt>=1.92.9
ta>=0.10.1
matplotlib>=3.5.1
seaborn>=0.11.2
scikit-learn>=1.0.2
xgboost
sqlalchemy>=1.4.31
pytest>=7.0.0
pytest-mock>=3.7.0
pytest-cov>=3.0.0
sphinx>=4.4.0
python-telegram-bot>=13.11
tenacity
fastapi
uvicorn
psutil
scikit-optimize
tqdm